@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
}

header{
    border-bottom: 1px solid #ECECEC;
}

.header{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_container{
    width: 100%;
    max-width: 519px;
    display: flex;
    justify-content: space-between;
}

.header_container--nav{
    width: 100%;
    max-width: 281px;    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_container--nav--link{
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 2%;
    text-decoration: none;
    color: #212121;
}

.header_container--nav--link:hover{
    color: #2196F3;
}

.header_content{
    width: 100%;
    max-width: 307px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_content--email{
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 2%;
    text-decoration: none;
    color: #757575;
}

.header_content--email:hover{
    color: #2196F3;
}

.header_content--phone{
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 2%;
    text-decoration: none;
    color: #757575;
}


.header_content--phone:hover{
    color: #2196F3;
}

main{
    margin: 94px 0;
}

.buttons_container{
    width: 100%;
    max-width: 575px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.buttons_container--button{
    padding: 6px 22px;
    background-color: #F5F4FA;
    border: none;
    border-radius: 4px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 3%;
    text-align: center;
    color: #212121;
}


.buttons_container--button:hover{
    background-color: #2196F3;
    color: #ffffff;
    box-shadow: 0px 2px 2px 0px #0000001F;
    box-shadow: 0px 1px 2px 0px #00000014;
    box-shadow: 0px 3px 1px 0px #0000001A;
}

.projects{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    row-gap: 30px;
    column-gap: 30px;
}

.projects_container{
    width:100% ;
    max-width: 370px;
    margin: 0 auto;
    border:1px solid #EEEEEE;

}

.projects_container--title{
    font-family: Roboto;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 6%;
    color: #212121;
    margin-top: 20px;
    margin-bottom: 4px;
    margin-left: 24px;
}

.projects_container--subtitle{
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 3%;
    color: #757575;
    margin-bottom: 20px;
    margin-left: 24px;
}

footer{
    background-color: #2F303A;
}

.footer_container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 60px 0;
}

.footer_container_info{
    display: flex;
    flex-direction: column;
    row-gap: 9px;
}

.footer_container-img{
    margin-bottom: 20px;
}

.footer_container_info--adress{
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3%;
    color: #ffffff;
    text-decoration: none;
}


.footer_container_info--email{
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3%;
    color: #ffffff;
    opacity: 60%;
    text-decoration: none;
}

.footer_container_info--phone{
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3%;
    color: #ffffff;
    opacity: 60%;
    text-decoration: none;
}