@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}



.header{
    width: 100%;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 24px 0;
}

.header_header_container{
    width: 100%;
    max-width: 519px;
    display: flex;
    
}

.header_header_container img{
    margin-right: 93px;
}

.header_header_container--nav{
    width: 100%;
    max-width: 281px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_header_content{
    width: 100%;
    max-width: 307px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.header_header_container--nav--link{
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 2%;
    text-decoration: none;
    color: #212121;
}

.header_header_container--nav--link:hover{
    color: #2196F3;
}

.header_header_content--email{
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 2%;
    text-decoration: none;
    color: #757575;
}

.header_header_content--email:hover{
    color: #2196F3;
}

.header_header_content--phone{
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 2%;
    text-decoration: none;
    color: #757575;
}


.header_header_content--phone:hover{
    color: #2196F3;
}

.solution{
    background-color: #2F303A;
}

.solution_container{
    width: 100%;
    margin: 0 auto;
    max-width: 696px;
    align-items: center;
    padding: 200px 0;
    display: flex;
    flex-direction: column;
}

.solution_container--title{
    font-family: Roboto;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 6%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.solution_container--button{
    width: 216px;
    height: 50px;
    border-radius: 4px;
    background-color: #2196F3;
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 6%;
    text-align: center;
    vertical-align: middle;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px #00000026;
    border: none;
}

.studio{
    padding:94px 0 ;
}

.studio_info_container{
    width: 100%;
    margin: 0 auto;
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
}

.studio_info_container_card{
    width: 100%;
    margin: 0 auto;
    max-width: 270px;
}

.studio_info_container_card--title{
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 3%;
    text-transform: uppercase;
    color:#212121;
    margin-bottom: 10px;
}

.studio_info_container_card--text{
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3%;
    color: #757575;
}

.studio_whatWeDo{
    width: 100%;
    margin: 0 auto;
    max-width: 1170px;
    margin-top: 94px;
   
}

.studio_whatWeDo_title{
    font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 3%;
    text-align: center;
    color: #212121;
    margin-bottom: 50px;
}

.studio_whatWeDo_container{
    display: flex;
    justify-content: space-between;
}


.team{
    background-color: #F5F4FA;
}

.team_title{
    font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 3%;
    text-align: center;
    color: #212121;
    padding-top:94px ;
    margin-bottom: 50px;
}

.team_container{
    width: 100%;
    max-width:1170px ;
    margin: 0 auto;
    padding-bottom: 94px;
    display: flex;
    justify-content: space-between;
}

.team_container--card{
    width: 100%;
    max-width: 270px;
    background-color: #FFFFFF;
    border-radius: 4px;

}

.team_container--card--img{
    width: 270px;
    height: 260px;

}

.team_container--card--name{
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 3%;
    text-align: center;
    color: #212121;
    margin-top: 30px;
    margin-bottom: 10px;
}

.team_container--card--profession{
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 3%;
    text-align: center;
    color: #757575;
    margin-bottom: 30px;
}

footer{
    background-color: #2F303A;
    text-decoration: none;
}

.footer_container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 60px 0;
}

.footer_container_info{
    display: flex;
    flex-direction: column;
    row-gap: 9px;
}

.footer_container img{
    margin-bottom:20px ;
}

.footer_container_info--adress{
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3%;
    color: #FFFFFF;
    text-decoration: none;
}

.footer_container_info--email{
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3%;
    color: #FFFFFF;
    opacity: 60%;
    text-decoration: none;
}

.footer_container_info--phone{
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3%;
    color: #FFFFFF;
    text-decoration: none;
}











